<title>Investment: <%= @campaign[0].name %></title>

<div class="container" id="campaign">
  <ul class="list-group" >
    <li style="margin-bottom:25px">
      <div class="media">
        <div class="media-left">
          <img src="/images/<%= @campaign[0].image %>.jpeg" class="media-object">
        </div>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @campaign[0].name %></h4>
        <h6 class="media-heading"><%= @campaign[0].country %></h6>
        <h6 class="media-heading"><%= @campaign[0].sector %></h6>
        <p id="Target Amount">Target Amount: £<%= @campaign[0].target_amount %></p>
      </div>
    </li>
  </ul>
  <form class="" form action="/invest" method="post">
    <h5>How much do you want to invest?  £
    <input type="hidden" id="campaign_name" name="campaign_name" value="<%= @campaign[0].name %>">
    <input type="text" name="amount" value="">
    <input type="submit" value="Invest"></h5>
  </form>
</div>
